
body {
    font-family: Tahoma,Helvetica,sans-serif;
    background-color:#F4F4F4;
    margin:0;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: normal;
}

.container{
    margin: auto;
    overflow: hidden;
}

.headercontainer{
  margin:0;
  overflow: hidden;
  text-align: center;
  background-color:#ad181f;
}

.header{
    width:80%;
    margin:auto;
    color:white;
    font-size: 18px;
    text-align: left;
}

.topnav {
    background-color: #333;
    color: white;
}

.navdiv{
  width:80%;
  margin: auto;
  overflow: hidden;
}

.topnav ul{
  padding: 0;
  list-style: none;
}

.topnav li{
  display: inline;
}

.topnav a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing:border-box;
  }

  input[type=text]:focus {
    background-color: lightskyblue;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: #ad181f;
    border: none;
    color: wheat;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

.header2{
    text-align: center;
}

.userform{
  width:40%;
  margin:auto;
}
.mainfooter{
  background-color: #ad181f;
  color: white;
  text-align: center;
  padding:30px;
  margin-top: 40px;
}
